*{
    box-sizing: border-box;
}
body {
    font-family: Helvetica,sans-serif;
    font-weght:normal;
    font-siza:14px;
}


.post{
    width:300px;
    background-color: #EED2D2;
    position:relative;
    display: block;
    border-style: double;
    border-color:grey;
    margin:10px;
    overflow:auto;

}
#container{
    grid-gap: 20px;
    display:grid;
    /*flex-wrap: wrap;*/
    justify-content: center;
    grid-template-columns: repeat(auto-fit,350px);
}
.post-img{
    display:flex;
    justify-content: center;
}
img{
    width:100%;
}
post-info{

    padding:10px;
}
